// Colors
$primary: #FE5F1E;
// $primary-hover: #b23301;
// // $secondary: #F8F8F8;
// $secondary: #604e2fb8;
// $pure: #fff;
// $dark: #232323;
// $gray: #ccc;

// $bodyDark:#604e2fb8;
// // Transition 
// $smooth: all .3s ease-in-out;

// Colors
$primary: #FE5F1E;
$primary-hover: #b23301;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;

// Transition 
$smooth: all .3s ease-in-out;